@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&display=swap');

:root {
  --bg: #ffffff;
  --black: #000000;
  --orange: #f2994a;
  --gray1: #333333;
  --gray2: #4f4f4f;
  --gray3: #828282;
  --gray4: #bdbdbd;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  margin: 0;
  padding: 0;
}
